## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Le Portel,FR,50.7056,1.5757,44.60,70,75,5.75,broken clouds
1,1,Saskylakh,RU,71.9167,114.0833,-15.74,87,100,10.80,overcast clouds
2,2,Busselton,AU,-33.6500,115.3333,91.00,40,0,3.00,clear sky
3,3,Delvada,IN,20.7667,71.0333,67.57,46,0,5.95,clear sky
4,4,Atar,MR,20.5169,-13.0499,62.51,24,86,11.74,overcast clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(15)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
6,6,Rikitea,PF,-23.1203,-134.9692,78.85,72,2,14.41,clear sky
8,8,Sambava,MG,-14.2667,50.1667,78.71,85,100,1.92,light rain
10,10,Kavieng,PG,-2.5744,150.7967,84.11,62,96,6.49,overcast clouds
13,13,Georgetown,MY,5.4112,100.3354,84.20,65,20,5.75,few clouds
19,19,Avarua,CK,-21.2078,-159.7750,86.00,70,20,4.61,few clouds
24,24,Atuona,PF,-9.8000,-139.0333,78.42,78,57,14.07,broken clouds
26,26,Rawson,AR,-43.3002,-65.1023,75.72,48,0,5.48,clear sky
27,27,San Nicolas,PH,18.1725,120.5953,84.20,79,75,4.61,broken clouds
29,29,Hilo,US,19.7297,-155.0900,75.20,64,75,6.80,light rain
34,34,Daru,PG,-9.0763,143.2092,84.11,73,93,6.22,overcast clouds
60,60,Lorengau,PG,-2.0226,147.2712,85.86,58,100,3.94,overcast clouds
63,63,Puerto Ayora,EC,-0.7393,-90.3518,75.99,93,92,1.01,overcast clouds
68,68,Port Lincoln,AU,-34.7333,135.8667,75.43,38,0,10.63,clear sky
70,70,Hambantota,LK,6.1241,81.1185,79.12,81,60,12.95,broken clouds
77,77,Nicoya,CR,10.1483,-85.4520,80.60,65,0,10.36,clear sky

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                1
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
new_preferred_cities_df = preferred_cities_df.dropna()

In [7]:
new_preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [8]:
new_preferred_cities_df.head(5)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
6,6,Rikitea,PF,-23.1203,-134.9692,78.85,72,2,14.41,clear sky
8,8,Sambava,MG,-14.2667,50.1667,78.71,85,100,1.92,light rain
10,10,Kavieng,PG,-2.5744,150.7967,84.11,62,96,6.49,overcast clouds
13,13,Georgetown,MY,5.4112,100.3354,84.20,65,20,5.75,few clouds
19,19,Avarua,CK,-21.2078,-159.7750,86.00,70,20,4.61,few clouds

In [9]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = new_preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
6,Rikitea,PF,78.85,clear sky,-23.1203,-134.9692,
8,Sambava,MG,78.71,light rain,-14.2667,50.1667,
10,Kavieng,PG,84.11,overcast clouds,-2.5744,150.7967,
13,Georgetown,MY,84.20,few clouds,5.4112,100.3354,
19,Avarua,CK,86.00,few clouds,-21.2078,-159.7750,
24,Atuona,PF,78.42,broken clouds,-9.8000,-139.0333,
26,Rawson,AR,75.72,clear sky,-43.3002,-65.1023,
27,San Nicolas,PH,84.20,broken clouds,18.1725,120.5953,
29,Hilo,US,75.20,light rain,19.7297,-155.0900,
34,Daru,PG,84.11,overcast clouds,-9.0763,143.2092,

In [10]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"

    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    #base_url = "https://maps.googleapis.com/maps/api/directions/json?"
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except(IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [11]:
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
6,Rikitea,PF,78.85,clear sky,-23.1203,-134.9692,Pension Maro'i
8,Sambava,MG,78.71,light rain,-14.2667,50.1667,Melrose
10,Kavieng,PG,84.11,overcast clouds,-2.5744,150.7967,Nusa Island Retreat
13,Georgetown,MY,84.20,few clouds,5.4112,100.3354,Cititel Penang
19,Avarua,CK,86.00,few clouds,-21.2078,-159.7750,Paradise Inn
24,Atuona,PF,78.42,broken clouds,-9.8000,-139.0333,Villa Enata
26,Rawson,AR,75.72,clear sky,-43.3002,-65.1023,Hosteria Sampedro
27,San Nicolas,PH,84.20,broken clouds,18.1725,120.5953,NORTHVIEW Hotel
29,Hilo,US,75.20,light rain,19.7297,-155.0900,Hilo Hawaiian Hotel
34,Daru,PG,84.11,overcast clouds,-9.0763,143.2092,Daru Lodge

In [12]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df['Hotel Name'].replace('', np.nan, inplace=True)
clean_hotel_df = hotel_df.dropna()

In [13]:
clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
6,Rikitea,PF,78.85,clear sky,-23.1203,-134.9692,Pension Maro'i
8,Sambava,MG,78.71,light rain,-14.2667,50.1667,Melrose
10,Kavieng,PG,84.11,overcast clouds,-2.5744,150.7967,Nusa Island Retreat
13,Georgetown,MY,84.20,few clouds,5.4112,100.3354,Cititel Penang
19,Avarua,CK,86.00,few clouds,-21.2078,-159.7750,Paradise Inn

In [14]:
# 8a. Create the output File (CSV)
output_data_file = 'WeatherPy_vacation.csv'
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [15]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [16]:
# 11a. Add a marker layer for each city to the map. 
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))